version: '2'
services:
  redis:
    image: redis
  db:
    image: postgres
  web:
    build: .
    command: bundle exec foreman start
    volumes:
      - .:/myapp
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis